<!DOCTYPE html>

<!--Header-->

<head>
    <!--Meta-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fotoon | Login</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />

    <!--Stylesheets-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/auth/login/style.css">

    <!--Scripts-->
    <script src="/js/auth/login.js"></script>
</head>

<!--Body-->

<body background="/img/login-background.jpg">
    <div class="media m-2" id="logo">
        <div class="media-left">
            <figure class="image is-48x48">
                <img src="/img/logo-big.jpg" width="64" height="64" alt="Placeholder image">
            </figure>
        </div>
        <div class="media-content">
            <a href="/">
                <p class="is-size-4"><strong>Fotoon</strong></p>
                <p class="is-size-7"><strong>Photo Social Club</strong></p>
            </a>
        </div>
    </div>

    <div class="center-card">
        <div class="card">
            <div class="card-content">
                <div class="field">
                    <p class="control has-icons-left">
                        <input id="usernameInput" class="input" type="text" placeholder="Username">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>

                        <p class="help is-danger" id="usernameHelper"></p>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input id="passwordInput" class="input" type="password" placeholder="Password">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>

                        <p class="help is-danger" id="passwordHelper"></p>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <button id="loginButton" class="button is-success" onclick="login()">
                            Login
                        </button>

                        <p class="help is-danger" id="loginButtonHelper"></p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

<!--Footer-->

<footer class="footer">
    <div class="content has-text-centered has-text-white">
        <p>
            <strong>Fotoon</strong> by <a href="https://github.com/C-O-D-R">CODR</a> | The source code is licensed under
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a> and website styles are provided by <a
                href="https://bulma.io">Bulma</a>
        </p>
    </div>
</footer>