<!DOCTYPE html>

<!--Header-->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fotoon | Register</title>

    <!--Stylesheet-->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/auth/authStyles.css">

    <!--Icons-->
    <script defer src=""></script>
</head>

<!--Body-->

<body background="">

</body>

<!--Footer-->

<footer class="footer">
    <div class="content has-text-centered has-text-white">
        <p>
            <strong>Fotoon</strong> by <a href="https://github.com/C-O-D-R">CODR</a> | The source code is licensed under
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a> and website styles are provided by <a
                href="https://bulma.io">Bulma</a>
        </p>
    </div>
</footer>