html {
    height: 100%;
}

body {
    min-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #191A19;
    background-position: center center;
    overflow-y: hidden;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.center-card {
    position: absolute;
    top: 12%;
    left: 5%;
    transform: translate(-12%, -5%);
}

#logo a {
    color: #950740;
    text-decoration: none;
}
