<!DOCTYPE html>

<!--Header-->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fotoon</title>

    <!--Stylesheet-->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mainpage/mainpageStyles.css">

    <!--Icons-->
    <script defer src=""></script>
</head>

<!--Body-->

<body background="img/mainpage-background.jpg">
    <div class="center-card">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <a href="/auth/login">
                        <button class="button is-rounded">
                            <span>Login</span>
                            <span class="icon is-small">
                                <i class="fas fa-sign-in-alt"></i>
                            </span>
                        </button>
                    </a>

                    <a href="/auth/register">
                        <button class="button is-rounded">
                            <span>Register</span>
                            <span class="icon is-small">
                                <i class="fab fa-wpforms"></i>
                            </span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

<!--Footer-->

<footer class="footer">
    <div class="content has-text-centered has-text-white">
        <p>
            <strong>Fotoon</strong> by <a href="https://github.com/C-O-D-R">CODR</a> | The source code is licensed under
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a> and website styles are provided by <a
                href="https://bulma.io">Bulma</a>
        </p>
    </div>
</footer>