<!DOCTYPE html>

<!--Header-->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fotoon</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />


    <!--Stylesheet-->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mainpage/style.css">
</head>

<!--Body-->

<body background="img/mainpage-background.jpg">
    <div class="media m-2" id="logo">
        <div class="media-left">
            <figure class="image is-48x48">
                <img src="img/logo-big.jpg" width="64" height="64" alt="Placeholder image">
            </figure>
        </div>
        <div class="media-content">
            <a href="/">
                <p class="is-size-4"><strong>Fotoon</strong></p>
                <p class="is-size-7"><strong>Photo Social Club</strong></p>
            </a>
        </div>
    </div>

    <div class="center-card">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <a href="/login">
                        <button class="button is-rounded is-primary">
                            <span>Login</span>
                            <span class="icon is-small">
                                <i class="fas fa-sign-in-alt"></i>
                            </span>
                        </button>
                    </a>

                    <a href="/register">
                        <button class="button is-rounded is-info">
                            <span>Register</span>
                            <span class="icon is-small">
                                <i class="fab fa-wpforms"></i>
                            </span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

<!--Footer-->

<footer class="footer">
    <div class="content has-text-centered has-text-white">
        <p>
            <strong>Fotoon</strong> by <a href="https://github.com/C-O-D-R">CODR</a> | The source code is licensed under
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a> and website styles are provided by <a
                href="https://bulma.io">Bulma</a>
        </p>
    </div>
</footer>